# --- R / RStudio ---
.Rproj.user/
.Rhistory
.RData
.Ruserdata
*.Rproj

# --- Output generati ---
output/            
*.png
*.pdf

# --- Dati 
data/raw/
*.csv          
*.rds
*.tif    
*.gpkg
data/intermediate/
*.csv              
*.rds
*.tif    
*.gpkg
data/processed/
*.csv              
*.rds
*.tif    
*.gpkg

# --- Sistema ---
.DS_Store
Thumbs.db
.Rproj.user
.httr-oauth
.quarto
